# Email config
# For development or quick testing use console as the email backend
EMAIL_HOST="smtp.gmail.com"
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="Dj LMS <youremail@example.com>"

SECRET_KEY="<your_secret_key>"